{% extends "base.html" %}
{% load i18n avatar_tags %}

{% block title %}{% trans "My profile" %}{% endblock %}


{% block content %}
<style>
.grey {
	color:grey;
}
.success {
	color:green;
}
</style>


<nav class="navbar fixed-top navbar-expand-lg navbar-light bg-light" id="mainNavL">
  <a class="navbar-brand" href="{% url 'home' %}">RxMinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/">Profile</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="/calendar/">Calendar</a>
      </li>
    </ul>
  </div>
</nav>

<br>
<br>


<div>
	<div>
		<div style="float:left;margin:1em 1em 0 0">
			<a href="{% url 'avatar_change' %}">
				{% avatar user 50 class="img-circle img-responsive" style="vertical-align:center" id="user_avatar" %}
			</a>
		</div>
		<h1>{{ user.username }}</h1>
		<p>{% if profile.completion_level == 100 %}<i class="fa fa-user fa-lg success"></i>&nbsp;{% endif %}{% trans "Profile completed " %}
			<span class="generic_bold">
				{{ profile.completion_level }}%
			</span>
		</p>
	    <div class="progress">
	        <div class="progress-bar progress-bar-success" style="width:{{ profile.completion_level }}%;">
	            {{ profile.completion_level }}%
	        </div>
	    </div>
		{% if not profile.completion_level == 100 %}
			<p class="alert alert-info text-center">
				<i class="fa fa-user-times fa-lg"></i>&nbsp;{% trans "Your profile must be completed in order to access all the features of the site" %}
			</p>
			<h3 class="text-center" style="margin-bottom:1.5em">{% trans "Please complete your profile:" %}</h3>
		{% endif %}
		<div class="row">
			<div class="col-sm-6">
			    <div class="panel panel-default">
			        <div class="panel-heading">	        	
			        	<div class="pull-right">
				        	{% if not profile.email_is_verified %}
				        		<a href="{% url 'account_email' %}">
				        			<i class="fa fa-close fa-2x pull-right text-danger"></i>
				        		</a>
				        	{% else %}
				        		<i class="fa fa-check fa-2x success"></i>
				        	{% endif %}
				        </div>
				        <h4><i class="fa fa-envelope-o fa-lg"></i>&nbsp;{% trans "Email address verification" %}</h4>
			        </div>
			        <div class="panel-body">
			        	{% if not profile.email_is_verified %}							
								<a href="{% url 'account_email' %}" class="btn btn-primary">{% trans "Verify email" %}</a>
							{% else %}
								<a href="{% url 'account_email' %}" class="btn btn-default">{% trans "Edit email" %}</a>
						{% endif %}
			        </div>
				</div>
			</div>
			<div class="col-sm-6">
				<div class="panel panel-default">
			        <div class="panel-heading">	        	
			        	<div class="pull-right">
				        	{% if not profile.personal_info_is_completed %}
				        		<a href="{% url "profile-identity-form" profile.pk %}">
				        			<i class="fa fa-close fa-2x pull-right grey"></i>
				        		</a>
				        	{% else %}
				        		<i class="fa fa-check fa-2x text-success"></i>
				        	{% endif %}
				        </div>
				        <h4><i class="fa fa-book fa-lg"></i>&nbsp;{% trans "Personal Info" %}</h4>
			        </div>
			        <div class="panel-body">
						{% if profile.personal_info_is_completed %}
							<a href="{% url "profile-identity-form" profile.pk %}" class="btn btn-default">{% trans "Edit" %}</a>
						{% else %}
							<a href="{% url "profile-identity-form" profile.pk %}" class="btn btn-primary">{% trans "Complete now" %}</a>
						{% endif %}
			        </div>
			    </div>
		    </div>
		</div>
		<div class="row">
			<div class="col-xs-12">
				<p class="gc gus-l">
					<a href="{% url 'avatar_change' %}" class="btn btn-link">{% trans "Change your avatar" %}</a>
					<a href="{% url 'account_change_password' %}" class="btn btn-link">{% trans "Change your password" %}</a>
				</p>
			</div>
		</div>
		<a href="{%url 'pills'%}" class="btn btn-link">Add Medication</a>
	</div>
</div>

{% endblock content %}