<!-- templates/home.html -->
{% extends 'base.html' %}
{% load static %}
{% load socialaccount %}
{% load static %}
{% load crispy_forms_tags %}


{% block content %}

{% if user.is_authenticated %}


<body>
<link rel="stylesheet" href="{% static 'pages/style.css'%}">
<nav class="navbar fixed-top navbar-expand-lg" id="mainNavL">
  <a class="navbar-brand" href="{% url 'home' %}">RxMinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbar">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/profile/">Profile</a>
      </li>

        <li class="nav-item">
        <a class="nav-link" href="/calendar/">Calendar</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div data-spy="scroll" data-target="#mainNav" data-offset="0">
    <div class="jumbotron" id="jumbo">
        <h1 class="display-4">Welcome {{ user.username }}</h1>
        <hr class="my-4">
        <a class="btn btn-primary btn-lg" href="{% url 'account_logout' %}">Log out</a>
    </div>
</div>


</body>




{% else %}


<body>

<nav class="navbar fixed-top navbar-expand-lg" id="mainNav">
  <a class="navbar-brand" href="#">RxMinder</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">About</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Meet the Team
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="#member1">Team Member 1</a>
          <a class="dropdown-item" href="#member2">Team Member 2</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="#member3">Team Member 3</a>
        </div>
      </li>
        <li class="nav-item">
        <a class="nav-link" href="#contact">Contact Us</a>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>


<div data-spy="scroll" data-target="#mainNav" data-offset="0">
    <div class="jumbotron" id="home">
        <h1 class="display-4">Welcome to RxMinder</h1>
        <p class="lead">A prescription reminder</p>
        <hr class="my-4">
        <p>Description...</p>
        <a class="btn btn-primary btn-lg" href="{% url 'account_signup' %}">Sign Up</a>
        <a class="btn btn-primary btn-lg" href="{% url 'account_login' %}">Log In </a></p>
        <a class="btn btn-primary btn-lg" href="{% provider_login_url 'google' %}">Log In with Gmail</a>
        <a class="btn btn-primary btn-lg" href="{% provider_login_url 'facebook' %}">Log In with Facebook</a>
    </div>
    <section id="about">
        <h2>About</h2>
        <p>...</p>
    </section>
    <section id="member1">
        <h3>one</h3>
        <p>...</p>
    </section>
    <section id="member2">
        <h3>two</h3>
        <p>...</p>
    </section>
    <section id="member3">
        <h3>three</h3>
        <p>...</p>
    </section>
    <section id="contact">
        <h2>Contact Us</h2>
        <p>...</p>
    </section>

</div>


</body>


{% endif %}



{% endblock %}
